<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, shrink-to-fit=no">
	<title>BLAZING - Team Elm</title>
	<!-- jquery -->
	<script type="application/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
	<!-- slick.js -->
	<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css}">
	<script type="application/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css}">
	<!-- popper.js -->
	<script type="application/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js}"></script>
	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}">
	<script type="application/javascript" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
	<!-- source sans pro -->
	<link th:href='@{https://fonts.googleapis.com/css?family=Source+Sans+Pro}' rel='stylesheet' type='text/css'>
	<!-- font awesome -->
	<link th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
</head>

<link rel="stylesheet" th:href="@{/css/styles.css}">

<body class="bg-dark">
	<header th:insert="/fragments/header.html :: header"></header>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-auto sidebar sticky-top" id="left-sidebar">
				<section>
					<ul class="nav nav-pills flex-column" id="browse-tabs" role="tablist">
						<li>
							<h5 class="section-header">IN THEATERS</h5>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="blazing-movies-tab" href="#" th:href="@{/browse?type=blazing-movies}">Blazing Movie Picks</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="opening-movies-tab" href="#" th:href="@{/browse?type=opening-movies}">Opening This Week</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="coming-soon-tab" href="#" th:href="@{/browse?type=coming-soon}">Coming Soon</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="all-movies-tab" href="#" th:href="@{/browse?type=all-movies}">All Movies</a>
						</li>
						<li class="pt-2">
							<h5 class="section-header">TV</h5>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="blazing-tv-tab" href="#" th:href="@{/browse?type=blazing-tv}">Blazing TV Picks</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="new-tv-tab" href="#" th:href="@{/browse?type=new-tv}">New TV Tonight</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="popular-tv-tab" href="#" th:href="@{/browse?type=popular-tv}">Most Popular TV</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="all-tv-tab" href="#" th:href="@{/browse?type=all-tv}">All TV</a>
						</li>
					</ul>
				</section>
			</div>

			<div class="col-12 col-md-auto main-content" id="browse-content">
				<section>
					<h5 class="section-header" id="browse-title"></h5>
					<div class="results-list" id="browse-list">
						<a class="details-link btn text-center" th:each="movie : ${browseAllMovies}" th:href="@{/viewmovie/{id}(id=${movie.id})}">
							<img class="image" src="/images/peter-rabbit.jpg">
							<div class="name text-truncate" th:text="${movie.title}">Peter Rabbit</div>
							<div>
								<span class="icon tiny burning"></span>
								<span th:text="${movie.blazingScore}">70</span>%
							</div>
						</a>
					</div>
					<div class="w-100 d-flex justify-content-center">
						<ul class="pagination pagination-sm">
						</ul>
					</div>
				</section>
			</div>
		</div>

	</div>
	<footer th:insert="/fragments/footer.html :: footer"></footer>
</body>

<script type="application/javascript" th:src="@{/js/properties.js}"></script>
<script type="application/javascript" th:src="@{/js/main.js}"></script>
<script type="application/javascript" th:src="@{/js/media-per-page.js}"></script>
<script type="application/javascript" th:src="@{/js/get-query-string.js}"></script>
<script>
	/* function getBrowseType(){
		var browseData = getDataFromQueryString();
		var browseTab = "#"+browseData["type"]+"-tab";
		$(browseTab).addClass('show active');
		var browseTitle;
		switch(browseData["type"]){
			case "blazing-movies":
				browseTitle = "BLAZING MOVIE PICKS";
				break;
			case "opening-movies":
				browseTitle = "OPENING THIS WEEK";
				break;
			case "coming-soon":
				browseTitle = "COMING SOON TO THEATERS";
				break;
			case "all-movies":
				browseTitle = "BROWSE ALL MOVIES";
				break;
			case "blazing-tv":
				browseTitle = "BLAZING TV PICKS";
				break;
			case "new-tv":
				browseTitle = "NEW TV TONIGHT";
				break;
			case "popular-tv":
				browseTitle = "MOST POPULAR TV";
				break;
			case "all-tv":
				browseTitle = "BROWSE ALL TV";
				break;
			default:
				break;
		}
 		$("#browse-title").html(browseTitle);
	} */

	$(function(){
		getBrowseType();

		/* $("#browse-tabs > .nav-item > .nav-link").on('click',function(){
			$("#browse-tabs > .nav-item > .nav-link").removeClass("active");
			var browseType = $(this).attr("id");
			var stateObj = {};
			history.pushState(stateObj,"","/browse?type="+browseType.substring(0,browseType.length-4));
			getBrowseType();
		}); */
	});
</script>

</html>