<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, shrink-to-fit=no">
	<title>BLAZING - Team Elm</title>
	<!-- jquery -->
	<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- slick.js -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
	<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
	<!-- popper.js -->
	<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<!-- source sans pro -->
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<!-- font awesome -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<link rel="stylesheet" href="/css/styles.css">

<body class="bg-dark">
	<header></header>
	<div class="container">
		<div class="row no-gutters">
			<div class="col-12">
				<section class="container-fluid">
					<h3 class="section-header">NAME</h3>
					<div class="row">
						<section class="col-md-auto mx-auto text-center sidebar">
							<img src="/images/thumbnail.png">
							<div class="text-md-left">
								<span class="font-weight-bold">Highest Rated: </span>
								<span>fesij efji llseji lsjfelije flijfei slfse jlies jfls</span>
							</div>
							<div class="text-md-left">
								<span class="font-weight-bold">Lowest Rated: </span>
								<span>Movie</span>
							</div>
							<div class="text-md-left">
								<span class="font-weight-bold">Birthday: </span>
								<span>N/A</span>
							</div>
							<div class="text-md-left">
								<span class="font-weight-bold">Birthplace: </span>
								<span>N/A</span>
							</div>
						</section>
						<div class="col border-left border-right">
							<div class="row flex-nowrap">
								<div class="col" style="min-width: 350px;">Lorem ipsum dolor sit amet, sea nibh augue labitur an. Agam mnesarchum ea eum, vis habeo congue vocent at. Ne vel postea suscipiantur consectetuer. Dolores adipisci concludaturque ad his, id dolore prompta minimum vim. Mel an suas alienum.

Vis ea tollit splendide, mutat mediocrem intellegam vis ne. Sit suas assum eloquentiam ut, odio wisi ius te, utamur periculis omittantur ut mel. Nominati democritum appellantur no sea. Ex laudem urbanitas vel, simul mediocrem eu qui, quot utroque et eam. Ut eligendi hendrerit nam. Harum munere no usu.

In facete elaboraret nam. Eam imperdiet abhorreant at, has cu alia erat. Sit ne doming verear delectus, ex ignota constituam sed. Volumus scaevola dissentiunt ius id, altera putent usu no, vel dolor appellantur vituperatoribus ex.

Et vis wisi graece vocibus, te cum dicant animal vivendo, ne erat principes nam. Postea graecis corrumpit at his. Semper aliquam denique usu ei. Pro inimicus similique cu, autem lobortis democritum vis no, et fugit detracto eum. Id dicat commune sit, in cum minim regione, alii ferri discere ius eu. In decore alienum sed, te eum erat semper inciderint.

Everti docendi ea sit, et eam dicta deserunt hendrerit. Eam ad possim fastidii petentium, mel posse impedit fabellas ut. Ne percipit insolens eos, in altera dolorum denique his. In modo oporteat pertinacia vis, id per vivendo tibique insolens, vivendum instructior ius et.

Sed ex unum omnis malorum, mel oratio putent omittantur et, reprimique delicatissimi his eu. Meis minim ne nam. Eu pri similique abhorreant. In aeque qualisque eam, ei eam nibh delicata. Sit nominavi delicatissimi an. Ut ludus detraxit laboramus vix, per tantas iriure vituperatoribus ne, eum an dictas fierent.

Harum pericula neglegentur ea usu, inani tritani mel an. Error impetus eripuit sit et, mel case ignota id. Cum vitae epicurei id, vis omnes antiopam accusamus ea, accusam democritum persequeris ex vim. Oratio delectus concludaturque te pro.

Magna audire id pri. Eam id habeo ancillae philosophia. Et copiosae percipitur est, ne diam viris disputando quo. Possit possim torquatos in quo, ne quis dolor vituperata usu. Ei verear graecis copiosae sea, ea illud appellantur vim, cum et libris aeterno patrioque. Elaboraret temporibus mel id, quas maluisset mel no.

Ocurreret scriptorem dissentiunt an vel. Ad cum rationibus definitionem, an vis error elitr graeco, labitur luptatum definitionem no has. Cu vel natum tation assueverit, cu mel suas facete, exerci phaedrum id ius. Iudico suscipit intellegebat no ius, sed ei complectitur signiferumque.

At cum phaedrum maiestatis deterruisset. Quo ei equidem evertitur, quod exerci ignota te eos. Ei vel dicat doctus repudiare. Prima vulputate his eu. Oblique recteque ut has, prima populo graecis no vim. An doming apeirian eum, mazim legere iuvaret vim te.
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<section class="col">
							<h5 class="section-header">PHOTOS</h5>
							<div class="section-carousel">
								<div class="section-carousel-item">
									<img src="/images/v1.jpg">
								</div>
								<div class="section-carousel-item">
									<img src="/images/v2.jpg">
								</div>
								<div class="section-carousel-item">
									<img src="/images/v3.jpg">
								</div>
								<div class="section-carousel-item">
									<img src="/images/v4.jpg">
								</div>
							</div>
						</section>
					</div>
				</section>
				<section>
					<h5 class="section-header">HIGHEST RATED MOVIES</h5>
					<div class="d-flex flex-wrap justify-content-around">
						<a class="details-link btn text-center" href="/details.html" role="button">
							<img class="image" src="/images/black-panther.jpg" alt="placeholder image">
							<div class="name">Black Panther</div>
							<div>
								<span class="icon tiny burning"></span>
								<span>70</span>%
							</div>
						</a>
						<a class="details-link btn text-center" href="/details.html">
							<img class="image" src="/images/game-night.jpg" alt="placeholder image">
							<div class="name">Game Night</div>
							<div>
								<span class="icon tiny burning"></span>
								<span>70</span>%
							</div>
						</a>
						<a class="details-link btn text-center" href="/details.html">
							<img class="image" src="/images/peter-rabbit.jpg" alt="placeholder image">
							<div class="name">Peter Rabbit</div>
							<div>
								<span class="icon tiny burning"></span>
								<span>70</span>%
							</div>
						</a>
						<a class="details-link btn text-center" href="/details.html">
							<img class="image" src="/images/annihilation.jpg" alt="placeholder image">
							<div class="name">Annihilation</div>
							<div>
								<span class="icon tiny burning"></span>
								<span>70</span>%
							</div>
						</a>
					</div>
				</section>
				<section>
					<h5 class="section-header">FILMOGRAPHY</h5>
					<div class="row">
						<div class="col">
							<h5>MOVIES</h5>
							<div>
								<div class="d-flex align-items-start">
									<div style="width: 75px"><span>SCORE</span></div>
									<div class="col text-truncate"><span>TITLE</span></div>
									<div class="col-auto text-truncate" style="width: 100px;"><span>ROLE</span></div>
									<div class="col-auto text-truncate" style="width: 100px;"><span>BOX OFFICE</span></div>
									<div style="width: 50px;"><span>YEAR</span></div>
								</div>
								<div class="details-link border-top border-bottom">
									<a class="w-100 d-flex align-items-start" href="/movie-details.html">
										<div style="width: 75px">
											<span class="icon tiny burning"></span>
											<span>70%</span>
										</div>
										<div class="col text-truncate"><span>MOVIE</span></div>
										<div class="col-auto text-truncate" style="width: 100px;"><span>ROLE</span></div>
										<div class="col-auto text-truncate" style="width: 100px;"><span>BOX OFFICE</span></div>
										<div style="width: 50px;"><span>YEAR</span></div>
									</a>
								</div>
								<div class="details-link border-top border-bottom">
									<a class="w-100 d-flex align-items-start" href="/movie-details.html">
										<div style="width: 75px">
											<span class="icon tiny burning"></span>
											<span>70%</span>
										</div>
										<div class="col text-truncate"><span>MOVIE</span></div>
										<div class="col-auto text-truncate" style="width: 100px;"><span>ROLE</span></div>
										<div class="col-auto text-truncate" style="width: 100px;"><span>BOX OFFICE</span></div>
										<div style="width: 50px;"><span>YEAR</span></div>
									</a>
								</div>
								<div class="details-link border-top border-bottom">
									<a class="w-100 d-flex align-items-start" href="/movie-details.html">
										<div style="width: 75px">
											<span class="icon tiny burning"></span>
											<span>70%</span>
										</div>
										<div class="col text-truncate"><span>MOVIE</span></div>
										<div class="col-auto text-truncate" style="width: 100px;"><span>ROLE</span></div>
										<div class="col-auto text-truncate" style="width: 100px;"><span>BOX OFFICE</span></div>
										<div style="width: 50px;"><span>YEAR</span></div>
									</a>
								</div>
								<div class="details-link border-top border-bottom">
									<a class="w-100 d-flex align-items-start" href="/movie-details.html">
										<div style="width: 75px">
											<span class="icon tiny burning"></span>
											<span>70%</span>
										</div>
										<div class="col text-truncate"><span>MOVIE</span></div>
										<div class="col-auto text-truncate" style="width: 100px;"><span>ROLE</span></div>
										<div class="col-auto text-truncate" style="width: 100px;"><span>BOX OFFICE</span></div>
										<div style="width: 50px;"><span>YEAR</span></div>
									</a>
								</div>
								<div class="details-link border-top border-bottom">
									<a class="w-100 d-flex align-items-start" href="/movie-details.html">
										<div style="width: 75px">
											<span class="icon tiny burning"></span>
											<span>70%</span>
										</div>
										<div class="col text-truncate"><span>MOVIE</span></div>
										<div class="col-auto text-truncate" style="width: 100px;"><span>ROLE</span></div>
										<div class="col-auto text-truncate" style="width: 100px;"><span>BOX OFFICE</span></div>
										<div style="width: 50px;"><span>YEAR</span></div>
									</a>
								</div>
							</div>
						</div>
						<div class="col">
							<h5>TV</h5>
							<div>
								<div class="d-flex align-items-start">
									<div style="width: 75px"><span>SCORE</span></div>
									<div class="col text-truncate"><span>TITLE</span></div>
									<div class="col-auto text-truncate" style="width: 100px;"><span>ROLE</span></div>
									<div style="width: 50px;"><span>YEAR</span></div>
								</div>
								<div class="details-link border-top border-bottom">
									<a class="w-100 d-flex align-items-start" href="/tv-details.html">
										<div style="width: 75px">
											<span class="icon tiny burning"></span>
											<span>70%</span>
										</div>
										<div class="col text-truncate"><span>TV</span></div>
										<div class="col-auto text-truncate" style="width: 100px;"><span>ROLE</span></div>
										<div style="width: 50px;">
											<span>YEAR</span>
											<span>YEAR</span>
											<span>YEAR</span>
										</div>
									</a>
								</div>
								<div class="details-link border-top border-bottom">
									<a class="w-100 d-flex align-items-start" href="/tv-details.html">
										<div style="width: 75px">
											<span class="icon tiny burning"></span>
											<span>70%</span>
										</div>
										<div class="col text-truncate"><span>TV</span></div>
										<div class="col-auto text-truncate" style="width: 100px;"><span>ROLE</span></div>
										<div style="width: 50px;">
											<span>YEAR</span>
											<span>YEAR</span>
											<span>YEAR</span>
										</div>
									</a>
								</div>
								<div class="details-link border-top border-bottom">
									<a class="w-100 d-flex align-items-start" href="/tv-details.html">
										<div style="width: 75px">
											<span class="icon tiny burning"></span>
											<span>70%</span>
										</div>
										<div class="col text-truncate"><span>TV</span></div>
										<div class="col-auto text-truncate" style="width: 100px;"><span>ROLE</span></div>
										<div style="width: 50px;">
											<span>YEAR</span>
											<span>YEAR</span>
											<span>YEAR</span>
										</div>
									</a>
								</div>
								<div class="details-link border-top border-bottom">
									<a class="w-100 d-flex align-items-start" href="/tv-details.html">
										<div style="width: 75px">
											<span class="icon tiny burning"></span>
											<span>70%</span>
										</div>
										<div class="col text-truncate"><span>TV</span></div>
										<div class="col-auto text-truncate" style="width: 100px;"><span>ROLE</span></div>
										<div style="width: 50px;">
											<span>YEAR</span>
											<span>YEAR</span>
											<span>YEAR</span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</section>
				</section>
			</div>
		</div>
		<nav class="navbar" style="display: none;">
			<button type="button" class="btn btn-warning" href="#">Edit Page...</button>
			<button type="button" class="btn btn-danger" href="#">Delete Page</button>
		</div>
	</div>
	<footer></footer>
</body>

<script type="application/javascript" src="/js/main.js"></script>

</html>

