<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, shrink-to-fit=no">
	<title>BLAZING - Team Elm</title>
	<!-- jquery -->
	<script type="application/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
	<!-- slick.js -->
	<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css}">
	<script type="application/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css}">
	<!-- popper.js -->
	<script type="application/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js}"></script>
	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}">
	<script type="application/javascript" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
	<!-- source sans pro -->
	<link th:href='@{https://fonts.googleapis.com/css?family=Source+Sans+Pro}' rel='stylesheet' type='text/css'>
	<!-- font awesome -->
	<link th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
</head>

<link rel="stylesheet" th:href="@{/css/styles.css}">

<body class="bg-dark">
	<header th:insert="/fragments/header.html :: header"></header>
	<div class="container">
		<div class="row">
			<div class="col">
				<section class="container-fluid">
					<h3 class="section-header" th:text="${episode.title}">TITLE OF EPISODE</h3>
					<div class="row">
						<section class="col-md-auto mx-auto text-center sidebar">
							<div class="d-flex align-items-center justify-content-center" style="margin-bottom: 10px;">
								<div class="dropdown show">
									<a class="btn dropdown-toggle" href="#" role="button" id="episodes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Episodes
									</a>
									<div class="dropdown-menu" aria-labelledby="episodes-link">
										<a class="dropdown-item" th:each="e,i : ${season.getEpisodes()}" th:href="@{/viewtv/{tvid}/{sNum}/{eNum}(tvid=${tv.id},sNum=${sNum},eNum=${i.index+1})}" th:classappend="${e.episodeNumber == episode.episodeNumber} ? 'active' : ''" th:text="|Episode ${e.episodeNumber}|"></a>
									</div>
								</div>
							</div>
							<img th:src="${(tv.poster != null) ? '/images/'+tv.poster : '/images/placeholder.png'}" style="width: 206px; height: auto;">
							<table class="table text-left">
								<tr class="align-top">
									<th>NETWORK:</th>
									<td><span th:text="${tv.network}">network</span></td>
								</tr>
								<tr class="align-top">
									<th>PREMIERE DATE:</th>
									<td><span th:text="|${tv.airtimes[0].getMonthValue()}/${tv.airtimes[0].getDayOfMonth()}/${tv.airtimes[0].getYear()}|"></span></td>
								</tr>
							</table>
						</section>
						<div class="col">
							<div class="row">
								<section class="col">
									<h5 class="section-header">EPISODE INFO</h5>
									<div id="description" th:text="${episode.description}">
										description
									</div>
								</section>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<footer th:insert="/fragments/footer.html :: footer"></footer>
</body>

<script type="application/javascript" th:src="@{/js/properties.js}"></script>
<script type="application/javascript" th:src="@{/js/main.js}"></script>

</html>

