<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>BLAZING - Team Elm</title>
	<!-- jquery -->
	<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- slick.js -->
	<link rel="stylesheet" type="text/css" href="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
	<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
	<link rel="stylesheet" type="text/css" th:href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
	<!-- popper.js -->
	<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<!-- source sans pro -->
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<!-- font awesome -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<link rel="stylesheet" href="/css/styles.css">

<body class="bg-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-auto sidebar sticky-top">
				<section>
					<ul class="nav nav-pills flex-column" id="browse-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link" id="blazing-movies-tab" href="/critics-home.html">Critics Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="opening-movies-tab" href="/critics-list.html">Critics List</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="top-bo-tab" href="/critics-group.html">Critics Groups</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" id="coming-soon-tab" href="latest-crvws-list.html">Latest Film Reviews</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="all-movies-tab" href="#">Critics Criteria</a>
						</li>
					</ul>
				</section>
			</div>
			<div class="col main-content">
				<section>
					<h4 class="section-header">LATEST FILM REVIEWS</h4>
					<div>
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Rating</th>
									<th scope="col">Movie</th>
									<th scope="col">Review</th>
									<th scope="col">Critic</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="align-middle" style="width: 75px;"><span class="icon tiny ashes"></span> <span>Score</span></td>
									<td class="align-middle" style="width: 175px;"><span>Movie McMovieFace</span></td>
									<td class="align-middle">
										<div>
											"<a href="#">Amazing!</a>"
										</div>
										<div>
											Posted <span>datetime</span>
										</div>
									</td>
									<td class="align-middle" style="width: 175px;">
										<a href="#">Critic McCriticFace</a>
										<a href="#">Publication</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</section>
			</div>
		</div>
	</div>
</body>

<script type="application/javascript" src="/js/properties.js"></script>
<script type="application/javascript" src="/js/main.js"></script>

</html>