<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, shrink-to-fit=no">
	<title>BLAZING - Team Elm</title>
	<!-- jquery -->
	<script type="application/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
	<!-- slick.js -->
	<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css}">
	<script type="application/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css}">
	<!-- popper.js -->
	<script type="application/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js}"></script>
	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}">
	<script type="application/javascript" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
	<!-- source sans pro -->
	<link th:href='@{https://fonts.googleapis.com/css?family=Source+Sans+Pro}' rel='stylesheet' type='text/css'>
	<!-- font awesome -->
	<link th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
</head>

<link rel="stylesheet" th:href="@{/css/styles.css}">

<body class="bg-dark">
	<header th:insert="/fragments/header.html :: header"></header>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-auto main-content">
				<!-- <div class="w-100" style="background-color: black">
					<a class="cover-video" href="#">
						<div class="cover-image"></div>
						<div class="play-button">
							<i class="fa fa-play"></i>
						</div>
					</a>
				</div> -->
				<section class="container-fluid">
					<h3 class="section-header" th:text="${movie.title}">TITLE</h3>
					<div class="row flex-row-reverse">
						<section class="col-md-auto mx-auto text-center sidebar">
							<img src="/images/black-panther.jpg">
							<table class="table text-left">
								<tr class="align-top">
									<th>RATING:</th>
									<td>PG-13 (for prolonged sequences of action violence, and a brief rude gesture)</td>
								</tr>
								<tr class="align-top">
									<th>GENRE:</th>
									<td>Action &amp; Adventure, Drama, Science Fiction &amp; Fantasy</td>
								</tr>
								<tr class="align-top">
									<th>DIRECTED BY:</th>
									<td>Ryan Coogler</td>
								</tr>
								<tr class="align-top">
									<th>WRITTEN BY:</th>
									<td>Joe Robert Cole, Ryan Coogler</td>
								</tr>
								<tr class="align-top">
									<th>IN THEATERS:</th>
									<td>Feb 16, 2018  Wide</td>
								</tr>
								<tr class="align-top">
									<th>BOX OFFICE:</th>
									<td>$501,105,037</td>
								</tr>
								<tr class="align-top">
									<th>RUNTIME:</th>
									<td>135 minutes</td>
								</tr>
								<tr class="align-top">
									<th>STUDIO:</th>
									<td>Marvel Studios</td>
								</tr>
							</table>
						</section>
						<div class="col-lg col-12">
							<div class="row">
								<section class="col">
									<h5 class="section-header">BLAZING METER</h5>
									<div class="row d-flex align-items-center">
										<div class="col-auto">
											<div>
												<span class="icon med burning"></span>
												<span style="font-size: 64px;"><span th:text="${movie.blazingScore}">70</span>%</span>
											</div>
										</div>
										<div class="col">
											<div>Average Rating: <span>7.8/10</span></div>
											<div>Reviews Counted: <span>1000</span></div>
											<div>Blazing: <span>700</span></div>
											<div>Ashes: <span>300</span></div>
										</div>
										<div class="col-12">
											The general consensus of all the critics that reviewed this media. This text will be edited by an editor. Maybe there is no need for this blurb, but generally it is good for people wanting to know quickly how the media turns out.
										</div>
									</div>
								</section>
							</div>
							<div class="row">
								<section class="col">
									<h5 class="section-header">AUDIENCE SCORE</h5>
									<div class="row d-flex flex-row align-items-center">
										<div class="col-auto">
											<div>
												<span class="icon med burning"></span>
												<span style="font-size: 64px;"><span th:text="${movie.audienceScore}">70</span>%</span>
											</div>
										</div>
										<div class="col">
											<div>Average Rating: <span>3.5/5</span></div>
											<div>User Rating: <span>93,042</span></div>
										</div>
									</div>
								</section>
							</div>
							<div class="row">
								<section class="col">
									<h5 class="section-header">MOVIE INFO</h5>
									<div id="description" th:text="${movie.description}">
										Lorem ipsum dolor sit amet, pri ne dolore tacimates corrumpit. Quod dolor soleat cu vim, ut detraxit laboramus conclusionemque pro. Modus perpetua philosophia ut vim, ex invenire omittantur repudiandae duo, usu nisl veniam legimus ne. Illum ubique in est, mel regione gloriatur adversarium id. An natum quando adipisci usu, quod utinam partiendo nec eu, ad duo illud impedit. An vix tempor commune, no est erat fabulas accusata.
									</div>
								</section>
							</div>
							<div class="row">
								<section class="col">
									<h5 class="section-header">CAST</h5>
									<div class="celebrity-list row no-gutters" th:each="character : ${movie.cast}">
										<div class="celebrity-link col-6 col-md-4 pb-1">
											<a class="d-flex" href="/celebrity-details.html">
												<img src="/images/thumbnail.png" th:src="${character.actor.portrait}" style="max-height: 50px; width: auto;">
												<div class="celebrity-link-body">
													<div class="font-weight-bold" th:text="${character.actor.name}">Celeb McCelebFace</div>
													<div>
														 as <span th:text="${character.name}">Character</span>
													</div>
												</div>
											</a>
										</div>
									</div>
									<div class="text-right"><a href="#">View All...</a></div>
								</section>
							</div>
						</div>
					</div>
					<div class="row">
						<section class="col">
							<h5 class="section-header">VIDEOS AND PHOTOS</h5>
							<ul class="nav nav-tabs flex-nowrap text-center" id="tab" role="tablist">
								<li class="nav-item">
									<a class="nav-item nav-link active" id="show-videos" data-toggle="tab" href="#videos" role="tab" aria-controls="videos" aria-selected="true">Videos</a>
								</li>
								<li class="nav-item">
									<a class="nav-item nav-link" id="show-photos" data-toggle="tab" href="#photos" role="tab" aria-controls="photos" aria-selected="false">Photos</a>
								</li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane show fade active" id="videos" role="tabpanel" aria-labelledby="videos">
									<div class="section-carousel">
										<div class="section-carousel-item">
											<img src="/images/v1.jpg">
										</div>
									</div>
									<div class="text-right"><a href="#">View All Videos...</a></div>
								</div>
								<div class="tab-pane fade" id="photos" role="tabpanel" aria-labelledby="photos">
									<div class="section-carousel">
										<div class="section-carousel-item">
											<img src="/images/v1.jpg">
										</div>
									</div>
									<div class="text-right"><a href="#">View All Photos...</a></div>
								</div>
							</div>
						</section>
					</div>
				</section>
				<section>
					<h5 class="section-header">REVIEWS</h5>
					<div th:insert="/fragments/review-system.html :: post-review"></div>
					<ul class="nav nav-tabs flex-nowrap text-center" id="tab" role="tablist" style="background-color: white;">
						<li class="nav-item">
							<a class="nav-item nav-link active" id="show-critic-reviews" data-toggle="tab" href="#critic-reviews" role="tab" aria-controls="critic-reviews" aria-selected="true">Critic Reviews</a>
						</li>
						<li class="nav-item">
							<a class="nav-item nav-link" id="show-audience-reviews" data-toggle="tab" href="#audience-reviews" role="tab" aria-controls="audience-reviews" aria-selected="false">Audience Reviews</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane show fade active" id="critic-reviews" role="tabpanel" aria-labelledby="critic-reviews">
							<section class="px-0 pb-0 mb-0">
								<div class="reviews">
									<div class="review critic">
										<div class="quote d-flex">
											<div class="icon med burning mr-4" style="min-width: 64px;"></div>
											<div><i class="fa fa-quote-left" style="padding-right: 25px;"></i></div>
											<div>
												Lorem ipsum dolor sit amet, pri ne dolore tacimates corrumpit. Quod dolor soleat cu vim, ut detraxit laboramus conclusionemque pro. Modus perpetua philosophia ut vim, ex invenire omittantur repudiandae duo, usu nisl veniam legimus ne. Illum ubique in est, mel regione gloriatur adversarium id. An natum quando adipisci usu, quod utinam partiendo nec eu, ad duo illud impedit. An vix tempor commune, no est erat fabulas accusata.
											</div>
											<div><i class="fa fa-quote-right" style="padding-left: 25px;"></i></div>
										</div>
										<div class="results text-right">
											<span>January 1, 1970</span> - <span>Rating</span> - <a href="#">Full Review...</a>
										</div>
										<div class="reviewer text-right">
											- <a href="#">Name</a>, <a href="#">Publication</a>
										</div>
									</div>
								</div>
								<div class="text-right"><a href="/reviews.html">View All Critic Reviews...</a></div>
							</section>
						</div>
						<div class="tab-pane fade" id="audience-reviews" role="tabpanel" aria-labelledby="audience-reviews">	<section class="px-0 pb-0 mb-0">
								<div class="reviews">
									<div class="review audience d-flex flex-row">
										<div class="reviewer">
											<span>Name</span>
										</div>
										<div class="quote">
											<span>10/10</span>
											 - 
											<span>
												review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review review 
											</span>
										</div>
									</div>
								</div>
								<div class="text-right"><a href="/reviews.html">View All Audience Reviews...</a></div>
							</section>
						</div>
					</div>
				</section>
			</div>

			<div class="col-12 col-md-auto sidebar sticky-top" id="right-sidebar">
				<ul class="nav nav-tabs flex-nowrap text-center" id="tab" role="tablist" style="background-color: white;">
					<li class="nav-item">
						<a class="nav-item nav-link active" id="show-movie-links" data-toggle="tab" href="#movie-links" role="tab" aria-controls="movie-links" aria-selected="true">In Theaters</a>
					</li>
					<li class="nav-item">
						<a class="nav-item nav-link" id="show-tv-links" data-toggle="tab" href="#tv-links" role="tab" aria-controls="tv-links" aria-selected="false">TV Shows</a>
					</li>
				</ul>
				<div class="tab-content" id="show-main-content">
					<section class="tab-pane fade show active" id="movie-links" role="tabpanel" aria-labelledby="show-movie-links">
						<h5 class="section-header">OPENING</h5>
						<div class="list-item details-link">
							<a class="w-100 d-flex align-items-center" href="/movie-details.html">
								<div class="score">
									<span class="icon tiny burning"></span>
									<span>70</span>%
								</div>
								<div class="text-truncate"><span>MOVIE</span></div>
							</a>
						</div>
						<a href="#">View All...</a>
						<h5 class="section-header">TOP BOX OFFICE</h5>
						<div class="list-item details-link">
							<a class="w-100 d-flex align-items-center" href="/movie-details.html">
								<div class="score">
									<span class="icon tiny burning"></span>
									<span>70</span>%
								</div>
								<div class="text-truncate"><span>MOVIE</span></div>
							</a>
						</div>
						<a href="#">View All...</a>
						<h5 class="section-header">COMING SOON</h5>
						<div class="list-item details-link">
							<a class="w-100 d-flex align-items-center" href="/movie-details.html">
								<div class="score">
									<span class="icon tiny burning"></span>
									<span>70</span>%
								</div>
								<div class="text-truncate"><span>MOVIE</span></div>
							</a>
						</div>
						<a href="#">View All...</a>
					</section>
					<section class="tab-pane fade" id="tv-links" role="tabpanel" aria-labelledby="show-tv-links">
						<h5 class="section-header">NEW TV TONIGHT</h5>
						<div class="list-item details-link">
							<a class="w-100 d-flex align-items-center" href="/tv-details.html">
								<div class="score">
									<span class="icon tiny burning"></span>
									<span>70</span>%
								</div>
								<div class="text-truncate"><span>TV</span></div>
							</a>
						</div>
						<a href="#">View All...</a>
						<h5 class="section-header">MOST POPULAR TV ON BLAZING</h5>
						<div class="list-item details-link">
							<a class="w-100 d-flex align-items-center" href="/tv-details.html">
								<div class="score">
									<span class="icon tiny burning"></span>
									<span>70</span>%
								</div>
								<div class="text-truncate"><span>TV</span></div>
							</a>
						</div>
						<a href="#">View All...</a>
						<h5 class="section-header">CERTIFIED BLAZING TV</h5>
						<div class="list-item details-link">
							<a class="w-100 d-flex align-items-center" href="/tv-details.html">
								<div class="score">
									<span class="icon tiny burning"></span>
									<span>70</span>%
								</div>
								<div class="text-truncate"><span>TV</span></div>
							</a>
						</div>
						<a href="#">View All...</a>
					</section>
				</div>
			</div>
		</div>
		<nav class="navbar d-none">
			<button type="button" class="btn btn-warning" href="#">Edit Page...</button>
			<button type="button" class="btn btn-danger" href="#">Delete Page</button>
		</nav>
	</div>
	<footer th:insert="/fragments/footer.html :: footer"></footer>
</body>

<script type="application/javascript" th:src="@{/js/properties.js}"></script>
<script type="application/javascript" th:src="@{/js/main.js}"></script>
<script type="application/javascript" th:src="@{/js/review-system.js}"></script>

</html>

