<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, shrink-to-fit=no">
	<title>BLAZING - Team Elm</title>
	<!-- jquery -->
	<script type="application/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
	<!-- slick.js -->
	<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css}">
	<script type="application/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css}">
	<!-- popper.js -->
	<script type="application/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js}"></script>
	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}">
	<script type="application/javascript" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
	<!-- source sans pro -->
	<link th:href='@{https://fonts.googleapis.com/css?family=Source+Sans+Pro}' rel='stylesheet' type='text/css'>
	<!-- font awesome -->
	<link th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
</head>

<link rel="stylesheet" th:href="@{/css/styles.css}">

<body class="bg-dark">
	<header th:insert="/fragments/header.html :: header"></header>
	<div class="container" th:if="${foundUser}">
		<div class="row">
			<div class="col-12 col-md-auto sidebar" id="left-sidebar">
				<section class="text-center">
					<button type="button" class="btn btn-secondary mb-1" id="re-verify" th:if="${session.currentUser} and not ${session.currentUser.enabled}">Re-send Verification</button>
					<img class="image profile" src="/images/thumbnail.png">
					<div class="mt-1" th:if="${session.currentUser} and not ${foundUser.equals(session.currentUser)}">
						<button type="button" class="btn btn-secondary" id="block-button" th:unless="${#sets.contains(session.currentUser.blockList, foundUser)}">Block</button>
						<button type="button" class="btn btn-secondary" id="unblock-button" th:if="${#sets.contains(session.currentUser.blockList, foundUser)}">UnBlock</button>
						<button type="button" class="btn btn-secondary" id="follow-button" th:unless="${#sets.contains(foundUser.followers, session.currentUser)}">Follow</button>
						<button type="button" class="btn btn-secondary" id="unfollow-button" th:if="${#sets.contains(foundUser.followers, session.currentUser)}">UnFollow</button>
					</div>
				</section>
				<section>
					<h5 class="section-header" th:text="${foundUser.firstName}+' '+${foundUser.lastName}">PROFILE</h5>
					<div>
						<span class="font-weight-bold">Role:</span>
						<span th:text="${foundUser.role}">User</span>
					</div>
					<div>
						<span class="font-weight-bold">Total Views:</span>
						<span>0</span>
					</div>
					<div>
						<span class="font-weight-bold">Profile Views Last 7 Days:</span>
						<span>0</span>
					</div>
				</section>
				<section>
					<h5 class="section-header">ABOUT</h5>
					<div>
						<span>No user info supplied</span>
					</div>
				</section>
			</div>
			<div class="col-12 col-md-auto main-content">
				<ul class="nav nav-tabs flex-nowrap text-center" id="tab" role="tablist">
					<li class="nav-item">
						<a class="nav-item nav-link active" id="show-wts-ni" data-toggle="tab" href="#wts-ni" role="tab" aria-controls="wts-ni" aria-selected="true">Media Interests</a>
					</li>
					<li class="nav-item">
						<a class="nav-item nav-link" id="show-ratings" data-toggle="tab" href="#ratings" role="tab" aria-controls="ratings" aria-selected="false">Ratings History</a>
					</li>
					<li class="nav-item">
						<a class="nav-item nav-link" id="show-following-followers" data-toggle="tab" href="#following-followers" role="tab" aria-controls="following-followers" aria-selected="false">Following and Followers</a>
					</li>
				</ul>
				<div class="tab-content" id="show-main-content">
					<div class="tab-pane show fade active" id="wts-ni" role="tabpanel" aria-labelledby="show-wts-ni">
						<section th:if="${foundUser.getWishlist().size()} != 0">
							<h5 class="section-header">WANT-TO-SEE MOVIES &amp; TV</h5>
							<a class="details-link btn text-center" th:each="media : ${foundUser.getWishlist()}" th:href="@{/viewmovie/{id}(id=${media.id})}" role="button">
								<img class="image" src="/images/black-panther.jpg" alt="placeholder image">
								<div class="name text-truncate" th:text="${media.title}">Black Panther</div>
								<div>
									<span class="icon tiny burning"></span>
									<span th:text="${media.blazingScore}">70</span>%
								</div>
							</a>
						</section>
						<section th:if="${foundUser.getWishlist().size()} == 0">
							<h5 class="section-header">WANT-TO-SEE MOVIES &amp; TV</h5>
							<h4 class="h-100 text-center">No Want-To-See Media!</h4>
						</section>
						<section th:if="${foundUser.getNotInterested().size()} != 0">
							<h5 class="section-header">NOT-INTERESTED MOVIES &amp; TV</h5>
							<a class="details-link btn text-center" th:each="media : ${foundUser.getNotInterested()}" th:href="@{/viewmovie/{id}(id=${media.id})}" role="button">
								<img class="image" src="/images/black-panther.jpg" alt="placeholder image">
								<div class="name text-truncate" th:text="${media.title}">Black Panther</div>
								<div>
									<span class="icon tiny burning"></span>
									<span th:text="${media.blazingScore}">70</span>%
								</div>
							</a>
						</section>
						<section th:if="${foundUser.getNotInterested().size()} == 0">
							<h5 class="section-header">WANT-TO-SEE MOVIES &amp; TV</h5>
							<h4 class="h-100 text-center">No Not-Interested Media!</h4>
						</section>
					</div>
					<div class="tab-pane show fade" id="ratings" role="tabpanel" aria-labelledby="show-ratings">
						<section>
							<h5 class="section-header">RATINGS HISTORY</h5>
							<div class="w-100 p-1 my-1 border">
								<span>test</span>
								<span>test</span>
								<span>test</span>
							</div>
						</section>
					</div>
					<div class="tab-pane show fade" id="following-followers" role="tabpanel" aria-labelledby="show-following-followers">
						<section>
							<h5 class="section-header">FOLLOWERS</h5>
							<div th:each="follower : ${foundUser.followers}">
								<a th:href="@{/viewprofile/{id}(id=${follower.id})}" th:text="|${follower.firstName} ${follower.lastName}|">name</a>
							</div>
						</section>
						<section>
							<h5 class="section-header">FOLLOWING</h5>
							<div th:each="following : ${foundUser.following}">
								<a th:href="@{/viewprofile/{id}(id=${following.id})}" th:text="|${following.firstName} ${following.lastName}|">name</a>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
		<nav class="navbar">
			<div class="mr-auto">
				<button type="button" class="btn btn-light" id="acc-settings">Account Settings</button>
				<button type="button" class="btn btn-light" id="admin-page" th:if="${session.currentUser} and ${foundUser.equals(session.currentUser)} and ${session.currentUser.role.name() == 'ADMIN'}">Admin Page</button>
				<button type="button" class="btn btn-light" data-toggle="modal" data-target="#add-movie">Add a Movie</button>
				<button type="button" class="btn btn-light" data-toggle="modal" data-target="#add-tv">Add a TV Show</button>
				<button type="button" class="btn btn-light" data-toggle="modal" data-target="#add-celebrity">Add a Celebrity</button>
			</div>
			<div class="ml-auto">
				<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ban-user">Ban</button>
				<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-account">Delete</button>
			</div>
		</nav>
		
		<!-- MODALS -->
		<!-- DELETE ACCOUNT -->
		<div class="modal fade" id="delete-account" tabindex="-1" role="dialog" aria-labelledby="#delete-account" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addMovie">DELETE ACCOUNT?</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form class="text-center" th:action="@{/viewprofile/{id}/delete(id=${foundUser.id})}" th:method="post">
							<div>Are you sure you want to delete this account?</div>
							<div class="font-weight-bold py-4">This cannot be undone.</div>
							<input type="hidden" id="userid" name="userid" th:value="${foundUser.id}">
							<button type="submit" class="btn btn-danger btn-lg" id="delete-account-button">DELETE</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- ADD MOVIE MODAL -->
		<!-- <div class="modal fade" id="add-movie" tabindex="-1" role="dialog" aria-labelledby="#addMovie" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addMovie">Add a Movie</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="add-movie-title">Title</label>
								<input class="form-control" id="add-movie-title">
								<small class="text-danger" id="no-title-alert" style="display: none;">Please enter the title</small>
							</div>
							<div class="form-group">
								<label for="add-movie-genres">Genre</label>
								<input class="form-control" id="add-movie-genres">
								<small class="text-danger" id="no-genres-alert" style="display: none;">Please enter genres</small>
							</div>
							<div class="d-flex">
								<div class="form-group">
									<label for="add-releasedate">Release Date</label>
									<div class="d-flex">
										<input class="form-control" id="add-year" placeholder="Year">
										<input class="form-control" id="add-month" placeholder="Month">
										<input class="form-control" id="add-day" placeholder="Day">
									</div>
									<small class="text-danger" id="no-date-alert" style="display: none;">Please enter the release date</small>
								</div>
								<div class="form-group">
									<label for="add-boxoffice">Box Office</label>
									<input class="form-control" id="add-boxoffice">
									<small class="text-danger" id="no-bo-alert" style="display: none;">Please enter the box office</small>
								</div>
								<div class="form-group">
									<label for="add-runtime">Run Time</label>
									<input class="form-control" id="add-runtime">
									<small class="text-danger" id="no-runtime-alert" style="display: none;">Please enter the run time</small>
								</div>
							</div>
							<div class="d-flex justify-content-stretch">
								<div class="form-group">
									<label for="add-actor-id">Actor ID</label>
									<input class="form-control" id="add-actor-id">
									<small class="text-danger" id="no-actor-id-alert" style="display: none;">Please enter Actor ID</small>
								</div>
								<div class="form-group">
									<label for="add-actor-role">Role</label>
									<input class="form-control" id="add-actor-role">
									<small class="text-danger" id="no-role-alert" style="display: none;">Please enter Actor Role</small>
								</div>
								<button class="btn btn-secondary align-self-center h-50 ml-auto" id="add-actor-button">Add Actor</button>
							</div>
							<div class="form-group">
								<textarea id="added-cast-box" class="form-control" rows=3 style="resize: none;"></textarea>
							</div>
							<div class="form-group">
								<label for="add-movie-desc">Description</label>
								<textarea id="add-movie-desc" class="form-control" rows=3 style="resize: none;"></textarea>
								<small class="text-danger" id="no-desc-alert" style="display: none;">Please enter a description</small>
							</div>
							<button class="btn btn-secondary" id="add-movie-button">Add</button>
						</form>
					</div>
				</div>
			</div>
		</div> -->
	</div>
	<div class="h-100" th:unless="${foundUser}">
		<section>
			User not found
		</section>
	</div>
	<footer th:insert="/fragments/footer.html :: footer"></footer>
</body>

<script type="application/javascript" th:src="@{/js/properties.js}"></script>
<script type="application/javascript" th:src="@{/js/main.js}"></script>
<script type="application/javascript" th:src="@{/js/add-media.js}"></script>
<script th:inline="javascript" th:if="${foundUser}">
/*<![CDATA[*/
	function reverify(e){
		e.preventDefault();
		$("#re-verify").css("background-color","#aaaaaa");
		$("#re-verify").attr("disabled",true);
		$("#re-verify").text("Sending...");
		var userID = /*[[${foundUser.id}]]*/ 0;
		$.ajax({
			type: "POST",
			contentType : "application/json",
			data: ""+userID,
			url: "/verify/reverify",
			success: function(data){
				console.log(data);
				$("#re-verify").text("Sent!");
			},
			fail: function(e){
				$("#re-verify").text("Re-send Verification");
				$("#re-verify").css("background-color","#6c757d");
				$("#re-verify").attr("disabled",false);
				console.log(e);
			}
		});
	}

	function follow(e){
		e.preventDefault();
		var id = /*[[${foundUser.id}]]*/ 0;
		$.ajax({
			type : "POST",
			contentType : "application/json",
			data: ""+id,
			url: location.href + "/follow",
			success: function(){
				location.reload();
			}
		});
	}
	
	function unfollow(e){
		e.preventDefault();
		var id = /*[[${foundUser.id}]]*/ 0;
		$.ajax({
			type : "POST",
			contentType : "application/json",
			data: ""+id,
			url: location.href + "/unfollow",
			success: function(){
				location.reload();
			}
		});
	}

	function block(e){
		e.preventDefault();
		var id = /*[[${foundUser.id}]]*/ 0;
		$.ajax({
			type : "POST",
			contentType : "application/json",
			data: ""+id,
			url: location.href + "/block",
			success: function(){
				location.reload();
			}
		});
	}
	
	function unblock(e){
		e.preventDefault();
		var id = /*[[${foundUser.id}]]*/ 0;
		$.ajax({
			type : "POST",
			contentType : "application/json",
			data: ""+id,
			url: location.href + "/unblock",
			success: function(){
				location.reload();
			}
		});
	}
	
	$(function(){
		$("#re-verify").on("click", reverify);
		$("#follow-button").on("click", follow);
		$("#unfollow-button").on("click", unfollow);
		$("#block-button").on("click", block);
		$("#unblock-button").on("click", unblock);
		$("#acc-settings").on("click", function(){
			location.href += "/settings";
		});
		$("#admin-page").on("click",function(){
			location.href = "/admin";
		});
	});
/*]]>*/
</script>

</html>