<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, shrink-to-fit=no">
	<title>BLAZING - Team Elm</title>
	<!-- jquery -->
	<script type="application/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
	<!-- slick.js -->
	<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css}">
	<script type="application/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css}">
	<!-- popper.js -->
	<script type="application/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js}"></script>
	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}">
	<script type="application/javascript" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
	<!-- source sans pro -->
	<link th:href='@{https://fonts.googleapis.com/css?family=Source+Sans+Pro}' rel='stylesheet' type='text/css'>
	<!-- font awesome -->
	<link th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
</head>

<link rel="stylesheet" th:href="@{/css/styles.css}">

<body class="bg-dark">
	<header th:insert="/fragments/header.html :: header"></header>
	<div class="container">
		<div class="row">
			<div class="col">
				<section class="container-fluid">
					<h3 class="section-header" th:text="${tv.title}">TITLE</h3>
					<div class="row flex-row-reverse">
						<section class="col-md-auto mx-auto text-center sidebar">
							<div class="d-flex align-items-center justify-content-center" style="margin-bottom: 10px;">
								<div class="dropdown show">
									<a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="seasons-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="|Season ${season.seasonNumber+1}|"></a>
									<div class="dropdown-menu" aria-labelledby="seasons-link">
										<a class="dropdown-item" th:each="s : ${tv.getSeasons()}" th:href="@{/viewtv/{tvid}/{sNum}(tvid=${tv.id},sNum=${s.seasonNumber+1})}" th:classappend="${s.seasonNumber == season.seasonNumber} ? 'active' : ''" th:text="|Season ${s.seasonNumber+1}|"></a>
									</div>
								</div>
							</div>
							<img th:src="${(tv.poster != null) ? '/images/'+tv.poster : '/images/placeholder.png'}" style="width: 206px; height: auto;">
							<table class="table text-left">
								<tr class="align-top">
									<th>NETWORK:</th>
									<td><span th:text="${tv.network}">network</span></td>
								</tr>
								<tr class="align-top" th:if="${tv.airtimes[0]} != null">
									<th>PREMIERE DATE:</th>
									<td><span th:text="|${tv.airtimes[0].getMonthValue()}/${tv.airtimes[0].getDayOfMonth()}/${tv.airtimes[0].getYear()}|">this</span></td>
								</tr>
							</table>
						</section>
						<div class="col">
							<div class="row">
								<section class="col">
									<h5 class="section-header">BLAZING METER</h5>
									<div class="row d-flex flex-row align-items-center">
										<div class="col d-flex justify-content-center">
											<div>
												<span class="icon med burning" th:if="${tv.blazingScore*100 > 70}"></span>
												<span class="icon med ashes" th:unless="${tv.blazingScore*100 > 70}"></span>
												<span style="font-size: 64px;">
													<span th:text="${tv.blazingScore*100}">70</span>%
												</span>
											</div>
										</div>
										<div class="col">
											<div>
												Reviews Counted: <span th:text="${tv.getCriticReviews().size()}"></span>
											</div>
											<div>
												Blazing: <span th:text="${tv.blazingScore*tv.getCriticReviews().size()}">700</span>
											</div>
											<div>
												Ashes: <span th:text="${tv.getCriticReviews().size()-tv.blazingScore*tv.getCriticReviews().size()}">300</span>
											</div>
										</div>
									</div>
								</section>
							</div>
							<div class="row">
								<section class="col">
									<h5 class="section-header">AUDIENCE SCORE</h5>
									<div class="row d-flex flex-row align-items-center">
										<div class="col d-flex justify-content-center">
											<div>
												<span style="font-size: 64px;">
													<span th:text="${tv.audienceScore*10}">10</span>%
												</span>
											</div>
										</div>
										<div class="col">
											<div>
												Average Rating: <span th:text="${tv.audienceScore}">3.5</span>/10
											</div>
											<div>
												User Ratings: <span th:text="${tv.getAudienceReviews().size()}">1</span>
											</div>
										</div>
									</div>
								</section>
							</div>
							<div class="row">
								<section class="col">
									<h5 class="section-header">TV SEASON INFO</h5>
									<div id="description" th:text="${season.description}">
										description
									</div>
								</section>
							</div>
							<div class="row">
								<section class="col">
									<h5 class="section-header">CAST</h5>
									<div class="celebrity-list row no-gutters">
										<div class="celebrity-link col-6 col-md-4 pb-1" th:each="character : ${tv.cast}">
											<a class="d-flex" th:href="@{/viewceleb/{id}(id=${character.actor.id})}">
												<img src="/images/thumbnail.png" th:src="@{character.actor.portrait}" style="max-height: 50px; width: auto;">
												<div class="celebrity-link-body">
													<div class="font-weight-bold" th:text="${character.actor.name}">Celeb McCelebFace</div>
													<div>
														as <span th:text="${character.name}">Character</span>
													</div>
												</div>
											</a>
										</div>
									</div>
									<div>
										<a id="viewall-celebs" style="display: none;" href="#">View All...</a>
									</div>
									<script>
									$(function(){
										if ($(".celebrity-link").length > 10){
											$(".celebrity-link").hide();
											$(".celebrity-link").slice(0,10).show();
											$("#viewall-celebs").show();
										}
										$("#viewall-celebs").on("click",function(e){
											e.preventDefault();
											$("#viewall-celebs").hide();
											$(".celebrity-link").show();
										});
									})
									</script>
								</section>
							</div>
						</div>
					</div>
					<div class="row">
						<section class="col">
							<h5 class="section-header">VIDEOS AND PHOTOS</h5>
							<ul class="nav nav-tabs flex-nowrap text-center" id="tab"
								role="tablist">
								<li class="nav-item"><a class="nav-item nav-link active"
									id="show-videos" data-toggle="tab" href="#videos" role="tab"
									aria-controls="videos" aria-selected="true">Videos</a></li>
								<li class="nav-item"><a class="nav-item nav-link"
									id="show-photos" data-toggle="tab" href="#photos" role="tab"
									aria-controls="photos" aria-selected="false">Photos</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane show fade active" id="videos"
									role="tabpanel" aria-labelledby="videos">
									<div class="section-carousel">
										<div class="section-carousel-item">
											<img src="/images/v1.jpg">
										</div>
									</div>
									<div class="text-right">
										<a href="#">View All Videos...</a>
									</div>
								</div>
								<div class="tab-pane fade" id="photos" role="tabpanel"
									aria-labelledby="photos">
									<div class="section-carousel">
										<div class="section-carousel-item">
											<img src="/images/v1.jpg">
										</div>
									</div>
									<div class="text-right">
										<a href="#">View All Photos...</a>
									</div>
								</div>
							</div>
						</section>
					</div>
				</section>
				<section>
					<h5 class="section-header">EPISODES</h5>
					<div class="episode-list">
						<span th:text="${season.getEpisodes().size()}"></span>
						<!-- <a class="episode" th:each="e : ${season.episodes}" href="@{/{eNum}(eNum=${e.episodeNumber+1})}">
							<div class="episode-number" style="width: 25px;" th:text="${e.episodeNumber}">1</div>
							<div class="episode-score" style="width: 75px;">
								<span class="icon tiny burning"></span>
								<span>70</span>%
							</div>
							<div class="episode-body" style="width: calc(100% - 100px);">
								<div class="d-flex flex-row justify-content-between">
									<div class="font-weight-bold">EPISODE NAME</div>
									<div>Air Date: <span>Jan 1, 1111</span></div>
								</div>
								<div class="d-flex flex-row justify-content-between">
									<div class="text-truncate" th:text="${e.description}">description</div>
								</div>
							</div>
						</a> -->
					</div>
				</section>
				<section>
					<h5 class="section-header">REVIEWS</h5>
					<section class="border">
						<div th:unless="${session.currentUser}">
							<h5 class="text-center w-100">Log In to Add A Review</h5>
						</div>
						<div id="user-rating" th:if="${session.currentUser} and not ${currentReview}">
							<h5 class="section-header">ADD YOUR RATING</h5>
							<div class="row flex-nowrap align-items-stretch">
								<!-- user review block -->
								<div class="col d-flex flex-column justify-content-between">
									<div class="d-flex align-items-center">
										<select id="rating-number" class="form-control form-control-sm" style="width: 60px;">
											<option value="0" selected>Rate...</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
										</select>
										<div class="form-check" th:if="${session.currentUser.role.name() == 'CRITIC'}">
											<input type="checkbox" class="form-check-input" id="is-blazing">
											<label class="form-check-label" for="is-blazing">Blazing?</label>
										</div>
										<div class="btn-group" id="wts-ni">
											<label class="btn btn-sm btn-dark" id="want-to-see" style="width: 100px;" th:unless="${#sets.contains(session.currentUser.getWishlist(),tv)}"><span class="button-text"><i class="fa fa-plus"></i> Want To See</span></label>
											<label class="btn btn-sm btn-success active" id="want-to-see" style="width: 100px;" th:if="${#sets.contains(session.currentUser.getWishlist(),tv)}"><span class="button-text"><i class="fa fa-check"></i> Will See!</span></label>
											<label class="btn btn-sm btn-dark" id="not-interested" style="width: 100px;" th:unless="${#sets.contains(session.currentUser.getNotInterested(),tv)}"><span class="button-text"><i class="fa fa-minus"></i> Not Interested</span></label>
											<label class="btn btn-sm btn-danger active" id="not-interested" style="width: 100px;" th:if="${#sets.contains(session.currentUser.getNotInterested(),tv)}"><span class="button-text"><i class="fa fa-times"></i> Pass...</span></label>
										</div>
									</div>
									<div>
										<textarea class="form-control" placeholder="Add A Review (Optional)" id="rvw-desc"></textarea>
									</div>
								</div>
							</div>
							<div class="text-right">
								<span class="text-danger mr-2" id="submit-fail" style="display: none;">Please Enter A Rating</span>
								<button id="submit-rating" type="submit" class="btn btn-outline-dark">Submit</button>
							</div>
						</div>
						<div id="user-rating" th:if="${session.currentUser} and ${currentReview}">
							<h5 class="section-header">EDIT YOUR RATING</h5>
							<div class="row flex-nowrap align-items-stretch">
								<!-- user review block -->
								<div class="col d-flex flex-column justify-content-between">
									<div class="d-flex align-items-center">
										<select id="rating-number" class="form-control form-control-sm" style="width: 60px;">
											<option value="1" th:selected="${currentReview.score} == 1">1</option>
											<option value="2" th:selected="${currentReview.score} == 2">2</option>
											<option value="3" th:selected="${currentReview.score} == 3">3</option>
											<option value="4" th:selected="${currentReview.score} == 4">4</option>
											<option value="5" th:selected="${currentReview.score} == 5">5</option>
											<option value="6" th:selected="${currentReview.score} == 6">6</option>
											<option value="7" th:selected="${currentReview.score} == 7">7</option>
											<option value="8" th:selected="${currentReview.score} == 8">8</option>
											<option value="9" th:selected="${currentReview.score} == 9">9</option>
											<option value="10" th:selected="${currentReview.score} == 10">10</option>
										</select>
										<div class="form-check" th:if="${session.currentUser.role.name() == 'CRITIC'}">
											<input type="checkbox" class="form-check-input" id="is-blazing" th:checked="${currentReview.isBlazing}">
											<label class="form-check-label" for="is-blazing">Blazing?</label>
										</div>
										<div class="btn-group" id="wts-ni">
											<label class="btn btn-sm btn-dark" id="want-to-see" style="width: 100px;" th:unless="${#sets.contains(session.currentUser.getWishlist(),tv)}"><span class="button-text"><i class="fa fa-plus"></i> Want To See</span></label>
											<label class="btn btn-sm btn-success active" id="want-to-see" style="width: 100px;" th:if="${#sets.contains(session.currentUser.getWishlist(),tv)}"><span class="button-text"><i class="fa fa-check"></i> Will See!</span></label>
											<label class="btn btn-sm btn-dark" id="not-interested" style="width: 100px;" th:unless="${#sets.contains(session.currentUser.getNotInterested(),tv)}"><span class="button-text"><i class="fa fa-minus"></i> Not Interested</span></label>
											<label class="btn btn-sm btn-danger active" id="not-interested" style="width: 100px;" th:if="${#sets.contains(session.currentUser.getNotInterested(),tv)}"><span class="button-text"><i class="fa fa-times"></i> Pass...</span></label>
										</div>
										<div class="ml-auto"><button id="del-rating" type="submit" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button></div>
									</div>
									<div>
										<textarea class="form-control" placeholder="Add A Review (Optional)" id="rvw-desc" th:text="${currentReview.body}"></textarea>
									</div>
								</div>
							</div>
							<div class="text-right">
								<span class="text-danger mr-2" id="submit-fail" style="display: none;">Please Enter A Rating</span>
								<button id="edit-rating" type="submit" class="btn btn-outline-dark">Edit</button>
							</div>
							<script th:inline="javascript">
							/*<![CDATA[*/
								function editReview(score,body,id){
									var reviewDetails = {};
									reviewDetails["reviewId"] = id;
									reviewDetails["newBody"] = body;
									reviewDetails["rating"] = score;
									var jsonString = JSON.stringify(reviewDetails);
									$.ajax({
										type : "POST",
										contentType : "application/json",
										url : location.href+"/editreview",
										data : jsonString,
										success : function(data) {
											console.log(data);
											location.reload();
										},
										error : function(e) {
											console.log("ERROR: ", e);
										}
									});
								}
							
								function deleteReview(id){
									$.ajax({
										type : "POST",
										contentType : "application/json",
										url : location.href+"/removereview",
										data : ""+id,
										success : function(data) {
											console.log(data);
											location.reload();
										},
										error : function(e) {
											console.log("ERROR: ", e);
										}
									});
								}
							
								$(function(){
									$("#edit-rating").on("click",function(e){
										e.preventDefault();
										var score = $("#rating-number").val();
										var rvwID = /*[[${currentReview.id}]]*/ 0;
										console.log(rvwID);
										if (score == "0"){
											$("#submit-fail").show();
										}else{
											editReview(score,$("#rvw-desc").val(), rvwID);
										}
									});
									$("#del-rating").on("click", function(e){
										e.preventDefault();
										var rvwID = /*[[${currentReview.id}]]*/ 0;
										deleteReview(rvwID);
									});
								});
							/*]]>*/
							</script>
						</div>
					</section>
					<ul class="nav nav-tabs flex-nowrap text-center" id="tab"
						role="tablist" style="background-color: white;">
						<li class="nav-item"><a class="nav-item nav-link active"
							id="show-critic-reviews" data-toggle="tab" href="#critic-reviews"
							role="tab" aria-controls="critic-reviews" aria-selected="true">Critic
								Reviews</a></li>
						<li class="nav-item"><a class="nav-item nav-link"
							id="show-audience-reviews" data-toggle="tab"
							href="#audience-reviews" role="tab"
							aria-controls="audience-reviews" aria-selected="false">Audience
								Reviews</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="critic-reviews" role="tabpanel" aria-labelledby="critic-reviews">
							<section class="px-0 pb-0 mb-0" th:if="${tv.getCriticReviews().size()}">
								<div class="reviews">
									<div class="review critic" th:if="${session.currentUser}" th:each="cr : ${criticreviews}">
										<div>
											<a class="p-1" data-toggle="modal" th:attr="data-target='#report-cr'+${cr.id}" href="#"><i class="fa fa-flag"></i></a>
										</div>
										<div class="quote d-flex">
											<div class="icon med burning mr-4" style="min-width: 64px;" th:if="${cr.isBlazing()}"></div>
											<div class="icon med ashes mr-4" style="min-width: 64px;" th:unless="${cr.isBlazing()}"></div>
											<div>
												<i class="fa fa-quote-left" style="padding-right: 25px;"></i>
											</div>
											<div th:text="${cr.body}">critic review</div>
											<div>
												<i class="fa fa-quote-right" style="padding-left: 25px;"></i>
											</div>
										</div>
										<div class="results text-right">
											<span th:text="|${cr.datetime.getMonthValue()}/${cr.datetime.getDayOfMonth()}/${cr.datetime.getYear()}|">January 1, 1970</span>
											 - <span th:unless="${cr.customScore}">N/A</span><span th:if="${cr.customScore}" th:text="${cr.customScore}">Rating</span>
										</div>
										<div class="reviewer text-right">
											- <a th:text="|${cr.user.firstName} ${cr.user.lastName}|" th:href="@{/viewprofile/{id}(id=${cr.user.id})}">Name</a>, <span th:text="${cr.publication} ? ${cr.publication} : ''">Publication</span>
										</div>
										<div class="modal fade" th:id="'report-cr'+${cr.id}" tabindex="-1" role="dialog" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title">Report A Review...</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														<form>
															<div class="form-group">
																<label th:for="'reported-cr'+${cr.id}">Reported Review</label>
																<textarea class="form-control" th:id="'reported-cr'+${cr.id}" rows="5" readonly th:text="${cr.body}"></textarea>
															</div>
															<div class="form-group">
																<label th:for="'c-reason'+${cr.id}">Reason For Report</label>
																<textarea class="form-control" th:id="'c-reason'+${cr.id}" rows="5"></textarea>
															</div>
															<button class="btn btn-secondary" th:id="'rep-cr-button'+${cr.id}">Report</button>
														</form>
													</div>
													<script th:inline="javascript">
														/*<![CDATA[*/
															function reportCReview(id, body){
																data = {};
																data["id"] = id;
																data["body"] = body;
																var jsonString = JSON.stringify(data);
																$.ajax({
																	type : "POST",
																	contentType : "application/json",
																	url : location.href+"/report",
																	data : jsonString,
																	success : function(data) {
																		if (data == true){
																			location.reload();
																		}else{
																		}
																	},
																	error : function(e) {
																		console.log("ERROR: ", e);
																	}
																});
															}
															
															$(function(){
																var rvwIDBtn = /*[['#rep-cr-button'+${cr.id}]]*/ "#";
																var rvwID = /*[[${cr.id}]]*/ 0;
																var reportBodyID = /*[['#c-reason'+${cr.id}]]*/ "#";
																$(rvwIDBtn).on("click",function(e){
																	e.preventDefault();
																	reportCReview(rvwID, $(reportBodyID).val());
																});
															});
														/*]]*/
													</script>
												</div>
											</div>
										</div>
									</div>
									<div class="review critic" th:unless="${session.currentUser}" th:each="cr : ${tv.criticReviews}">
										<div class="quote d-flex">
											<div class="icon med burning mr-4" style="min-width: 64px;" th:if="${cr.isBlazing()}"></div>
											<div class="icon med ashes mr-4" style="min-width: 64px;" th:unless="${cr.isBlazing()}"></div>
											<div>
												<i class="fa fa-quote-left" style="padding-right: 25px;"></i>
											</div>
											<div th:text="${cr.body}">critic review</div>
											<div>
												<i class="fa fa-quote-right" style="padding-left: 25px;"></i>
											</div>
										</div>
										<div class="results text-right">
											<span th:text="|${cr.datetime.getMonthValue()}/${cr.datetime.getDayOfMonth()}/${cr.datetime.getYear()}|">January 1, 1970</span>
											 - <span th:unless="${cr.customScore}">N/A</span><span th:if="${cr.customScore}" th:text="${cr.customScore}">Rating</span>
										</div>
										<div class="reviewer text-right">
											- <a th:text="|${cr.user.firstName} ${cr.user.lastName}|" th:href="@{/viewprofile/{id}(id=${cr.user.id})}">Name</a>, <span th:text="${cr.publication} ? ${cr.publication} : ''">Publication</span>
										</div>
									</div>
								</div>
<!-- 								<div class="text-right">
									<a href="#">View All Critic Reviews...</a>
								</div> -->
							</section>
							<section class="px-0 pb-0 mb-0" th:unless="${tv.getCriticReviews().size()}">
								<h5 class="text-center w-100">No Reviews!</h5>
							</section>
						</div>
						<div class="tab-pane fade" id="audience-reviews" role="tabpanel" aria-labelledby="audience-reviews">
							<section class="px-0 pb-0 mb-0" th:if="${tv.getReviews().size()}">
								<div class="reviews">
									<div class="review audience d-flex flex-row border-bottom" th:if="${session.currentUser}" th:each="review : ${reviews}">
										<div class="reviewer" style="width: 100px;">
											<a th:href="@{/viewprofile/{id}(id=${review.user.id})}" th:text="${review.user.firstName+' '+review.user.lastName}">Name</a>
										</div>
										<div class="quote">
											<span th:text="${review.score}">10</span>/10 - "<span th:text="${review.body}">body</span>"
										</div>
										<div class="date font-weight-bold ml-auto">
											<span th:text="|${review.datetime.getMonthValue()}/${review.datetime.getDayOfMonth()}/${review.datetime.getYear()}|">Date</span>
										</div>
										<div>
											<button type="button" class="btn p-1" data-toggle="modal" th:attr="data-target='#report-rvw'+${review.id}"><i class="fa fa-flag"></i></button>
										</div>
										<div class="modal fade" th:id="'report-rvw'+${review.id}" tabindex="-1" role="dialog" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title">Report A Review...</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														<form>
															<div class="form-group">
																<label th:for="'reported-rvw'+${review.id}">Reported Review</label>
																<textarea class="form-control" th:id="'reported-rvw'+${review.id}" rows="5" readonly th:text="${review.body}"></textarea>
															</div>
															<div class="form-group">
																<label th:for="'reason'+${review.id}">Reason For Report</label>
																<textarea class="form-control" th:id="'reason'+${review.id}" rows="5"></textarea>
															</div>
															<button class="btn btn-secondary" th:id="'rep-rvw-button'+${review.id}">Report</button>
														</form>
													</div>
													<script th:inline="javascript">
														/*<![CDATA[*/															
															function reportReview(id,body){
																data = {};
																data["id"] = rvwID;
																data["body"] = $(reportBodyID).val();
																var jsonString = JSON.stringify(data);
																$.ajax({
																	type : "POST",
																	contentType : "application/json",
																	url : location.href+"/report",
																	data : jsonString,
																	success : function(data) {
																		if (data == true){
																			location.reload();
																		}else{
																		}
																	},
																	error : function(e) {
																		console.log("ERROR: ", e);
																	}
																});
															}
															
															$(function(){
																var rvwIDBtn = /*[['#rep-rvw-button'+${review.id}]]*/ "#";
																var rvwID = /*[[${review.id}]]*/ 0;
																var reportBodyID = /*[['#reason'+${review.id}]]*/ "#";
																$(rvwIDBtn).on("click", function(e){
																	e.preventDefault();
																	reportReview(rvwID, $(reportBodyID).val());
																});
															});
														/*]]*/
													</script>
												</div>
											</div>
										</div>
									</div>
									<div class="review audience d-flex flex-row border-bottom" th:unless="${session.currentUser}" th:each="review : ${tv.getAudienceReviews()}">
										<div class="reviewer" style="min-width: 100px; max-width: 100px;">
											<a th:href="@{/viewprofile/{id}(id=${review.user.id})}" th:text="${review.user.firstName+' '+review.user.lastName}">Name</a>
										</div>
										<div class="quote">
											<span th:text="${review.score}">10</span>/10 - "<span th:text="${review.body}">body</span>"
										</div>
										<div class="date font-weight-bold ml-auto">
											<span th:text="|${review.datetime.getMonthValue()}/${review.datetime.getDayOfMonth()}/${review.datetime.getYear()}|">Date</span>
										</div>
									</div>
								</div>
								<!-- <div class="text-right">
									<a href="#">View All Audience Reviews...</a>
								</div> -->
							</section>
							<section class="px-0 pb-0 mb-0" th:unless="${tv.getReviews().size()}">
								<h5 class="text-center w-100">No Reviews!</h5>
							</section>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<footer th:insert="/fragments/footer.html :: footer"></header>
</body>

<script type="application/javascript" th:src="@{/js/properties.js}"></script>
<script type="application/javascript" th:src="@{/js/main.js}"></script>
<script type="application/javascript" th:src="@{/js/review-system.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
	/* TODO: fix wts-ni css */
	function addWTS() {
		var niColor = $("#not-interested").css("background-color");
		$("#want-to-see").attr("disabled",true);
		$("#not-interested").attr("disabled",true);
		$("#want-to-see").css("background-color","#aaaaaa");
		$("#not-interested").css("background-color","#aaaaaa");
		$("#want-to-see").css("border-color","#aaaaaa");
		$("#not-interested").css("border-color","#aaaaaa");
		$.ajax({
			type : "POST",
			url : location.href + "/addwishlist",
			success : function(data) {
				$("#want-to-see").css('background-color', '#28a745');
				$("#not-interested").css('background-color', niColor);
				$("#want-to-see").css('border-color', '#28a745');
				$("#not-interested").css('border-color', niColor);
				$("#want-to-see").addClass("active");
				$("#want-to-see .button-text").replaceWith('<span class="button-text"><i class="fa fa-check"></i> Will See!</span>');
				console.log(data);
			},
			error : function(e) {
				console.log("ERROR: ", e);
			},
			complete : function(e) {
				$("#want-to-see").attr("disabled", false);
				$("#not-interested").attr("disabled", false);
			}
		});
	}

	function removeWTS() {
		var niColor = $("#not-interested").css("background-color");
		$("#want-to-see").attr("disabled",true);
		$("#not-interested").attr("disabled",true);
		$("#want-to-see").css("background-color","#aaaaaa");
		$("#not-interested").css("background-color","#aaaaaa");
		$("#want-to-see").css("border-color","#aaaaaa");
		$("#not-interested").css("border-color","#aaaaaa");
		$.ajax({
			type : "POST",
			url : location.href + "/removewishlist",
			success : function(data) {
 				$("#want-to-see").css('background-color', '#343a40');
 				$("#not-interested").css('background-color', niColor);
 				$("#want-to-see").css('border-color', '#343a40');
 				$("#not-interested").css('border-color', niColor);
				$("#want-to-see").removeClass("active");
				$("#want-to-see .button-text").replaceWith('<span class="button-text"><i class="fa fa-plus"></i> Want To See</span>');
				console.log(data);
			},
			error : function(e) {
				console.log("ERROR: ", e);
			},
			complete : function(e) {
				$("#want-to-see").attr("disabled", false);
				$("#not-interested").attr("disabled", false);
			}
		});
	}

	function addNI() {
		var wtsColor = $("#want-to-see").css("background-color");
		$("#want-to-see").attr("disabled",true);
		$("#not-interested").attr("disabled",true);
		$("#want-to-see").css("background-color","#aaaaaa");
		$("#not-interested").css("background-color","#aaaaaa");
		$("#want-to-see").css("border-color","#aaaaaa");
		$("#not-interested").css("border-color","#aaaaaa");
		$.ajax({
			type : "POST",
			url : location.href + "/addnotinterested",
			success : function(data) {
 				$("#not-interested").css('background-color', '#dc3545');
 				$("#want-to-see").css('background-color', wtsColor);
 				$("#not-interested").css('border-color', '#dc3545');
 				$("#want-to-see").css('border-color', wtsColor);
				$("#not-interested").addClass("active");
				$("#not-interested .button-text").replaceWith('<span class="button-text"><i class="fa fa-times"></i> Pass...</span>');
				console.log(data);
			},
			error : function(e) {
				console.log("ERROR: ", e);
			},
			complete : function(e) {
				$("#want-to-see").attr("disabled", false);
				$("#not-interested").attr("disabled", false);
			}
		});
	}

	function removeNI() {
		var wtsColor = $("#want-to-see").css("background-color");
		$("#want-to-see").attr("disabled",true);
		$("#not-interested").attr("disabled",true);
		$("#want-to-see").css("background-color","#aaaaaa");
		$("#not-interested").css("background-color","#aaaaaa");
		$("#want-to-see").css("border-color","#aaaaaa");
		$("#not-interested").css("border-color","#aaaaaa");
		$.ajax({
			type : "POST",
			url : location.href + "/removenotinterested",
			success : function(data) {
 				$("#not-interested").css('background-color', '#343a40');
 				$("#want-to-see").css('background-color', wtsColor);
 				$("#not-interested").css('border-color', '#343a40');
 				$("#want-to-see").css('border-color', wtsColor);
				$("#not-interested").removeClass("active");
				$("#not-interested .button-text").replaceWith('<span class="button-text"><i class="fa fa-minus"></i> Not Interested</span>');
				console.log(data);
			},
			error : function(e) {
				console.log("ERROR: ", e);
			},
			complete : function(e) {
				$("#want-to-see").attr("disabled", false);
				$("#not-interested").attr("disabled", false);
			}
		});
	}

	function toggleWTS(e) {
		e.preventDefault();
		if ($("#want-to-see").hasClass("active")) {
			removeWTS();
		} else {
			addWTS();
		}/* 
 		if ($("#not-interested").hasClass("active")) {
			removeNI();
		} */
	}

	function toggleNI(e) {
		e.preventDefault();
		if ($("#not-interested").hasClass("active")) {
			removeNI();
		} else {
			addNI();
		}/* 
 		if ($("#want-to-see").hasClass("active")) {
			removeWTS();
		} */
	}

	$(function() {
		$("#want-to-see").on("click", toggleWTS);
		$("#not-interested").on("click", toggleNI);
	});
	/*]]>*/
</script>

</html>

